.header{
    width: 100%;
    height: 60px;
    max-width: 100%;
    background-color: white;
    display: flex;
  
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;

}
*{
    box-sizing: border-box;    
       
}

.headerLogo{
    height: 90%;
    width: auto;
}
html, body{
    overflow-x: hidden;
    max-width: 100%;
    padding: 0px;
    margin: 0px;
}
.mainContainer{
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

.navBar{
    width: 40px;
    height: 40px;
    border: 1px solid;
}

.account{
    width: 40px;
    height: 40px;
    border: 1px solid;
}

.account-tab{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 0px;
    overflow: hidden;
    z-index: 1000;
    transition: width 0.5s ease;
    background-color: #30757d;

}

.account-tab.open{
    width: 80%;
    
 
}

.closeTab{
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40pt
}

.login{
    font-size: 32pt;
    display: flex;
    justify-content: center;
    color: white;
    flex-shrink: 0;
}